#!/bin/bash

if [ $# -eq 2 ];
then
touch /home/在線時長
fi

time_start=`date +%Y-%m-%d\ %H:%M:%S` #起始時間
echo `START TIME:$time_start   /c` >> /home/在線時長

for (i=1;i>0;)
		 if  read "\*test.sh"  then
				time_end=`date +%Y-%m-%d\ %H:%M:%S` #關機時間
				echo `END TIME:$time_end   /c`
				i=-1
		else if 
		then  
fi


time_=$(($(date +%s -d `$time_start`) - $(date +%s -d`$time_end`)))   #換算成秒/分並且求差

echo “    在線時長:/c”
cat $[$time_/60]  >> /home/在線時長

echo -e `/e:wq`

echo $((3 - 5))
